$spacing: 20px;
$spacing-double: $spacing * 2;
$spacing-half: $spacing * .5;
$spacing-three-quarters: $spacing * .75;
$spacing-two-thirds: $spacing * .66;
$spacing-third: $spacing * .33;
$spacing-quarter: $spacing * .25;