.person {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 0;
  padding: 10px;
  flex: 0 0 calc(20% -  20px);
  background-size: cover;
  background-position: center center;
  margin: 10px;
  transition: background-position 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  box-sizing: border-box; }
  .person::after {
    clear: both;
    content: "";
    display: table; }
  .person::before {
    content: '';
    float: left;
    padding-bottom: 110%; }
  .person--selected {
    background-position: left center; }
  .person__name, .person__position, .person__department {
    position: relative;
    margin-right: auto;
    background-color: #fff;
    padding: 5px; }
    .person__name::before, .person__position::before, .person__department::before {
      left: 10px;
      transform: rotate(-1.8deg);
      background: none repeat scroll 0 0 #777777;
      bottom: 15px;
      box-shadow: 0 15px 10px #777777;
      content: " ";
      height: 12px;
      width: 100%;
      position: absolute;
      top: -25px;
      z-index: 0; }
  .person__name {
    font-size: 24px;
    font-weight: bold; }
  .person__position {
    font-weight: bold; }

.details {
  display: none; }
