@import 'src/styles/config/config';

$margin: $spacing-half;

.person {
	$columns: 5;
	$boxWidth: percentage(1 / $columns);

	@include clearfix();

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 0;
	padding: $spacing-half;
	flex: 0 0 calc(#{$boxWidth} -  #{2 * $margin});
	background-size: cover;
	background-position: center center;
	margin: $margin;
	transition: background-position .6s $ease-out-expo;
	box-sizing: border-box;

	&::before {
		content: '';
		float: left;
		padding-bottom: 110%;
	}

	&--selected {
		background-position: left center;
	}

	&__name,
	&__position,
	&__department {
		position: relative;
		margin-right: auto;
		background-color: #fff;
		padding: 5px;


		&::before {
			left: 10px;
			transform: rotate(-1.8deg);
			background: none repeat scroll 0 0 #777777;
			bottom: 15px;
			box-shadow: 0 15px 10px #777777;
			content: " ";
			height: 12px;
			width: 100%;
			position: absolute;
			top: -25px;
			z-index: 0;
		}
	}

	&__name {
		font-size: 24px;
		font-weight: bold;
	}

	&__position {
		font-weight: bold;
	}

	&__department {

	}
}

.details {
	display: none;

	&__title {

	}

}