.header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 10px 10px 40px;
  background-color: #fff; }

.title {
  margin: 0 10px;
  border-bottom: 3px solid #000;
  flex: 0 0 auto; }

.search-container {
  margin: 0 10px;
  flex: 1 1 auto; }

.filters-container {
  width: 100%; }
